.video {
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1728442836004-df39ec1ba89f?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1 {
        width: 600px;
    
        min-width: 320px;
        height: auto;
       
        border-radius: 10px;
        font-size: 3.3rem;
        background: rgba(143, 142, 142, 0.305);
        position: absolute;
        right: 30%;
        top: 30%;


        @media screen and (max-width:1230px) {
            width: 600px;
            position: absolute;
            right: 20%;
            top: 25%;



        }

        @media screen and (max-width:830px) {

            width: 550px;
            position: absolute;
            right: 20%;
            top: 25%;

        }



        @media screen and (max-width:762px) {

            width: 450px;
            height: auto;
            right: 20%;
            top: 20%;;
            
        }

        
        @media screen and (max-width:652px) {

            width: 400px;
            height: auto;
            right: 20%;
            top: 20%;;
            
        }

        
        @media screen and (max-width:560px) {

            width: 350px;
            height: auto;
            right: 20%;
            top: 20%;;
            
        }


        
        @media screen and (max-width:460px) {

            width: 300px;
            height: auto;
            right: 20%;
            top: 20%;;
            
        }

        
        @media screen and (max-width:390px) {

            width: 250px;
            height: auto;
            left: 7%;
            top: 10%;;
            
        }

         @media screen and (max-width:360px) {

            width: 238px;
            height: 434px;
            right: 0;
            top: 10%;
            left: 0;
            
        }


    }




    header {
        right: 100px;
        left: 100px;
        top: 50px;
        position: absolute;
        position: fixed;
        z-index: 1000;
        padding: 5px ;
       
        border-radius: 13px;
        height: auto;
        background: rgb(47, 47, 45);
        display: flex;
        justify-content: center;
        align-items: center;


        @media screen and (max-width:1190px) {

            position: static;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 0;
            background: none;
            display: flex;
            align-items: center;
            justify-content:space-between;



            li {
                width: max-content;
            }

            .nav {
                position: relative;
                width: max-content;
            }

            >.nav>button {
                position: static;
                top: 0;
                right: 0;
                display: block !important;
                background: rgba(140, 140, 156, 0);
                border: none;


            }




        }


        .nav>button {
            display: none;
        }


        .name {
           height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2>a {
                color: white;
                text-decoration: none;
               


                @media screen and (max-width:1190px) {

                    color: black;

                }


                @media screen and  (max-width:600px){
                    width: max-content;
                    height: auto;
                    
                }
            }


        }

        div {
            width: 100%;
            border-radius: 30px;

            ul {
                border-radius: 30px;
              
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 10px;




                li {
                   
                    border-radius: 10px;
                    width: calc(80% / 4);
                    height: auto;
                    list-style: none;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;



                    a {
                        width: 90px;
                        height: auto;
                        color: white;
                        font-size: 20px;
                        text-decoration: none;


                    }

                }


                @media screen and (max-width:1190px) {
                    display: none;





                }

            }
        }




    }



}