.stories {
    width: 100%;
    height: auto;
    background: rgb(239, 236, 227);
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 20px;
    padding: 60px;







    .boxx {
       
        



        >h2 {
            
            height: auto;
            width: 100%;
          
            width: 608px;         
            
            font-size: xx-large;
            width: max-content;
            font-size: 53px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            color: #3e3e3e;




        }


        p {
            font-size: 16px;
            width: 608px;
         
            height: 208px;   
            height: auto;
            color: #424242;
        }

        img {
            width: 547px;
            
            height: 364px;
            border-radius: 5px;


        }

        @media screen and (max-width:760px) {
           min-width: 320px;


           >img{
            width: 315px;
           }
           

           >h2{
            width: 0;
            min-width: 315px;
        
        }
            >p{
                width: 0;
                min-width: 315px;
            }
            

        }




    }

    @media screen and (max-width:1280px) {

        flex-wrap: wrap;

    }


    
    @media screen and (max-width:716px) {

      

        .boxx>img {
          min-width: 315px;
          height: auto;




        }
    }

}